[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==2.0.1+cu118", index = "downloadpytorch"}
pyworld = "*"
transformers = "==4.31.0"
argh = "*"
safetensors = "*"
librosa = "*"
praat-parselmouth = "*"
pyaudio = "*"
datasets = "*"
gradio = "~=6.7.0"
accelerate = "*"
optimum = "*"

[dev-packages]
bandit = "*"
