[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
pyworld = "*"
transformers = "*"
argh = "*"
safetensors = "*"
librosa = "*"
praat-parselmouth = "*"
pyaudio = "*"
datasets = "*"

[dev-packages]
bandit = "*"
